.days-screen__content-column:last-child input {
  padding: 5px 20px;
  background-color: black;
  color: white;
  border-radius: 6px;
  font-size: 9px;
}
.adventures-screen h1 {
  margin-bottom: 15px;
}
.adventures-screen__img img {
  width: 75px;
  height: 108px;
}
.books-star_sm {
  font-size: 4px;
  color: #fcce32;
  display: flex;
  justify-content: center;
}
.books-star_sm .fa-star:last-child {
  color: gray;
  opacity: 0.3;
}
.adventures__imgs {
  display: flex;
  justify-content: space-between;
}
.adventures-screen__img {
  margin-right: 20px;
}
.adventures-screen__img img {
  border-radius: 10px;
  border: none;
  margin-bottom: 10px;
}
