header {
  background-color: #fccd33;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 10px;
  padding-top: 30px;
}
.library-menu__column {
  width: 33%;
}
.library-menu__column:first-child {
  margin-right: auto;
}
.library-menu__column:nth-child(2) {
  text-align: center;
}
.library-menu__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}
